<h1>Konfiguration</h1>
    <div class="container card">
        <div class="card-header"><strong>Standort (für Wetterermittlung)</strong></div>
        <div class="card-body">
            {% if location %}
                <p><strong>Zurzeit ausgew&auml;hlt: </strong><!--{{ location["city"] }}--></p>
                <hr>
            {% endif %}
            <form (ngSubmit)="onSetLocationSubmit()" #heroForm="ngForm">
                <div class="form-group">
                    <label for="country">Land:</label>
                    <div id="countryAutocomplete" class="autocomplete container-fluid m-0 p-0">
                        <input class="form-control" name="country" type="text" [(ngModel)]="setLocationForm.country">
                    </div>
                    <!--<input id="alpha2_cd" name="alpha2_cd" type="hidden" onchange="onAlpha2CdChanged(this);"> -->
                    <input name="alpha2_cd" type="hidden" [(ngModel)]="setLocationForm.alpha2cd">
                    <label for="city">Stadt:</label>
                    <div id="cityAutocomplete" class="autocomplete container-fluid m-0 p-0">
                        <input class="form-control" name="city" type="text" [(ngModel)]="setLocationForm.city">
                    </div>
                    <input name="long" type="hidden" [(ngModel)]="setLocationForm.long">
                    <input name="lat" type="hidden" [(ngModel)]="setLocationForm.lat">
                </div>
                <button id="setLocation" class="btn-primary" type="submit">Standort setzen</button>
            </form>
        </div>
    </div>
    <div class="container card">
        <div class="card-header"><strong>Geburtstag (für Astro-Tool)</strong></div>
        <div class="card-body">
            <!-- <form action="{{ url_for("set_birthday") }}" method="post"> -->
                <div class="form-row form-group">
                    <div class="col-md-6">
                        <label for="bday_date">Geburtstag:</label>
                        <input id="bday_date" class="form-control" name="bday_date" type="date">
                    </div>
                    <div class="col-md-6">
                        <label for="bday_time">Geburtszeit:</label>
                        <input id="bday_time" class="form-control" name="bday_time" type="time">
                    </div>
                </div>
                <button type="submit" class="btn-primary">Geburtdatum setzen</button>
            </form>
        </div>
    </div>
    <div class="container card">
        <div class="card-header"><strong>Daten exportieren</strong></div>
        <div class="card-body">
            <!-- <form method="get" action="{{ url_for("export_data") }}"> -->
                <div class="form-group">
                    {% for collection_display, collection in backup_collections %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="save_collections" value="{{ collection }}" id="cb_{{ collection }}">
                          <label class="form-check-label" for="cb_{{ collection }}">{{ collection_display }}</label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn-primary">Daten exportieren</button>
            </form>
        </div>
    </div>
    <div class="container card">
        <div class="card-header"><strong>Daten importieren</strong></div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{{ url_for("import_data") }}">
                <div class="form-group">
                    <input class="form-control-file" type="file" name="import" id="import">
                    <label for="import">Import</label>
                </div>
                <button type="submit" class="btn-primary">Daten importieren</button>
            </form>
        </div>
    </div>