<nav class="navbar navbar-expand-sm bg-dark fixed-top nav-pills">
  <ul class="navbar-nav">
      <li class="nav-item"><a id="home" class="nav-link" href="/">HOME</a></li>
      <li class="nav-item"><a id= "diary" class="nav-link" href="/diary">Tagebuch</a></li>
      <li class="nav-item"><a id= "quotes" class="nav-link" href="/quotes">Zitate</a></li>
      <li class="nav-item"><a id= "activities" class="nav-link" href="/activities">Aktivit&auml;ten</a></li>
      <li class="nav-item"><a id= "astro" class="nav-link" href="/astro">Astrologie</a></li>
      <li class="nav-item"><a id= "astro_charts" class="nav-link" href="/astro_charts">Astro-Charts (experimentiell)</a></li>
      <li class="nav-item"><a id= "config" class="nav-link" href="/config">Konfiguration</a></li>
      <li class="nav-item"><a id= "thanks" class="nav-link" href="/url_for">Danksagungen</a></li>
  </ul>
</nav>
