<nav class="navbar navbar-expand-sm bg-dark fixed-top nav-pills">
  <ul class="navbar-nav">
      <li class="nav-item"><a id="home" class="nav-link" routerLinkActive="active" routerLink="/home">HOME</a></li>
      <li class="nav-item"><a id="diary" class="nav-link" routerLinkActive="active" routerLink="/diary">Tagebuch</a></li>
      <li class="nav-item"><a id="quotes" class="nav-link" routerLinkActive="active" routerLink="/quotes">Zitate</a></li>
      <li class="nav-item"><a id="activities" class="nav-link" routerLinkActive="active" routerLink="/activities">Aktivitäten</a></li>
      <li class="nav-item"><a id="astro" class="nav-link" routerLinkActive="active" routerLink="/astro">Astrologie</a></li>
      <li class="nav-item"><a id="config" class="nav-link" routerLinkActive="active" routerLink="/config">Konfiguration</a></li>
      <li class="nav-item"><a id="thanks" class="nav-link" routerLinkActive="active" routerLink="/thanks">Danksagungen</a></li>
  </ul>
</nav>
