<div class="container">
  <div class="row">
    <div class="col-9 p-3">
      <h4>{{this.formattedEntryDate}}</h4>
      <hr>
      <ul>
        <li *ngFor="let entryItem of diaryEntry.entries">{{entryItem}}</li>
      </ul>
    </div>
    <div class="col-3">
      <div id="{{galleryId}}" class="form-group dropArea">
        <p>You can drag and drop pictures here!</p>
        <input id="dropInput" class="dropInput" type="file" multiple accept="image/*" onchange="onUploadPictures()">
      </div>
    </div>
  </div>
  <div class="row border-top">
    <div class="col-12">
      <p>Bilder: </p>
      <div id="{{this.galleryId}}" class="gallery">
        <div class="imageContainer" *ngIf="diaryEntry.pictureUrls">
          <app-diary-picture [pictureUrl]="url" *ngFor="let url of diaryEntry.pictureUrls"></app-diary-picture>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
      <div class="row border-top">
          <div class="col-12">
              <p>Bilder:</p>
              <div id="{{ gallery_id }}" class="gallery">
                  {% if entry["pictures"] %}
                      <script>
                      window.addEventListener("load", (e) => {
                          let gallery = document.getElementById("{{ gallery_id }}");
                          let pictures = [];
                          {% for url in entry["pictures"] %}
                              pictures.push("{{ url }}");
                          {% endfor %}
                          feedGallery(gallery, pictures);
                      });
                      </script>
                  {% endif %}
              </div>
          </div>
      </div>
  </div> -->
