/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap.min.css';

.jumbotron h1 {
  text-transform: capitalize;
  color: orange;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
  margin-top: 48px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  background-color: #606060;
  color: yellow
}

.pageContent {
  padding-right: 32px;
  padding-left: 32px;
}

.card {
  margin-bottom: 20px;
}
.quote-source {
  margin-bottom: 20px
}
.autocomplete {
  position: relative;
  display: inline-block
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

#titlelogo {
  width: 75px;
  height: 75px;
}

#footer svg {
margin-left: auto;
margin-right: auto;
}

.dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.highlight {
  border-color: purple;
}

.dropInput {
  display: none;
}

.gallery {
  margin-top: 10px;
}

.gallery .imageContainer {
  display: inline-block;
  position: relative;
  margin: 2px;
  padding: 2px;
  width: 150px;
  vertical-align: middle;
}

.gallery .imageContainer .deleteBtn {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
}

.gallery .imageContainer .carouselBtn {
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
}

.gallery .imageContainer img {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  image-orientation: from-image;
}

#modalPicture {
  width: 100%;
  image-orientation: from-image;
}

.submenu {
  margin-bottom: 10px;
}

.planet-fire {
  color: red;
}

.planet-earth {
  color: darkgoldenrod;
}

.planet-wind {
  color: #9fcdff;
}

.planet-water {
  color: #007bff;
}

.aspect, .planet {
  box-shadow: 10px
}

.asp-konjunktion-acc-exact {
  background-color: green;
  color: white;
}

.asp-konjunktion-acc-high {
  color: green;
}

.asp-konjunktion-acc-medium {
  color: #00B000;
}

.asp-konjunktion-acc-low {
  color: #00D000;
}

.asp-trigon-acc-exact, .asp-sextil-acc-exact {
  background-color: blue;
  color: white;
}

.asp-trigon-acc-high, .asp-sextil-acc-high {
  color: blue;
}

.asp-trigon-acc-medium, .asp-sextil-acc-medium {
  color: #007bff;
}

.asp-trigon-acc-low, .asp-sextil-acc-low {
  color: #9fcdff;
}

.asp-opposition-acc-exact, .asp-quadrat-acc-exact {
  background-color: red;
  color: white;
}

.asp-opposition-acc-high, .asp-quadrat-acc-high {
  color: red;
}

.asp-opposition-acc-medium, .asp-quadrat-acc-medium {
  color: orangered;
}

.asp-opposition-acc-low, .asp-quadrat-acc-low {
  color: darkorange;
}

